body::-webkit-scrollbar {
    display: none;
}

.selectedTags::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.selectedTags::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #888;
}

/* body {
    -ms-overflow-style: none;  IE and Edge 
    scrollbar-width: none;  Firefox 
} */

.wrapper {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 400px;
    background: #FAFCFF;
    border-radius: 8px;
    padding: 15px 25px 22px;
    transition: right 0.3s ease;
    z-index: 999999;
    display: none;
}

.wrapper .show {
    right: 20px;
    display: block;
}

.wrapper header {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

header i {
    color: #4070f4;
    font-size: 32px;
}

header h2 {
    color: #4070f4;
    font-weight: 500;
}

.wrapper .data {
    margin-top: 16px;
}

.wrapper .data p {
    color: #333;
    font-size: 16px;
}

.data p a {
    color: #4070f4;
    text-decoration: none;
}

.data p a:hover {
    text-decoration: underline;
}

.wrapper .buttons {
    margin-top: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons .button {
    border: none;
    color: #fff;
    width: calc(100% / 2 - 10px);
    padding: 8px 0;
    border-radius: 4px;
    background: #4070f4;
    cursor: pointer;
    transition: all 0.2s ease;
}

.buttons .button:hover {
    background-color: #034bf1;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 200px 0px 35px 0px;
}

.pageSelector {
    display: flex;
    justify-content: center;
}

.pageOption {
    margin: 0 10px;
    cursor: pointer;
    padding: 5px 10px;
    border-bottom: 2px solid transparent;
    color: #FAFCFF;
}

.pageOption.active {
    border-color: #FAFCFF;
    /* Color de la línea inferior activa */
    background-color: transparent;
}

.carrousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.pages {
    display: flex;
    transition: transform 0.5s ease;
}

.page {
    flex: 0 0 100%;
}

.active {
    background-color: #ccc;
}


.logo {
    margin: 150px auto;
    font-size: 100px;
    width: fit-content;
}

.summonerSearch {
    margin: 0 auto;
    margin-top: 100px;
    background-color: #d3dde9;
    width: 700px;
    height: 50px;
    display: flex;
    border-radius: 25px;
}

.separator {
    border-left: 1px solid #15191d;
    height: 20px;
    margin: auto 0;
    margin-left: 25px;
}

.summonerSearch select,
input {
    border: none;
    background-color: #d3dde9;
}

.summonerSearch select:focus,
input:focus {
    outline: none;
}

.summonerSearch select {
    padding-right: 10px;
    margin-left: 25px;
}

.summonerSearch option {
    padding: 10px;
    border-bottom: 1px solid black;
}

.summonerSearch input {
    margin-left: 25px;
    width: 75%;
}

.summonerSearch input::placeholder {
    color: #484949;
}

.analysesRecords {
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    width: 700px;
    text-align: center;
    background-color: #abadaf;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

.analysis {
    display: flex;
    margin: 15px 0px;
    background-color: #d3dde9;
    height: 100px;
    border-radius: 20px;
}

.summonerInfo {
    flex: 0.3;
    align-content: center;
}

.summonerAvatar {
    margin-bottom: 5px;
}

.summonerAvatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.analysisSubcategories {
    flex: 0.5;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
}

.icon img {
    width: 35px;
    height: 35px;
}

.score {
    margin: 0px auto;
    width: 25px;
    height: 25px;
}

.analysisScore {
    flex: 0.2;
    align-content: center;
}

.analysisScore .icon img {
    width: 50px;
    height: 50px;
}

.analysisScore .score {
    width: auto;
    height: auto;
}

.popupContainer {
    display: none;
    position: fixed;
    top: 320px;
    left: 150%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 550px;
    background-color: #d3dde9;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    z-index: 1000;
}

.blur {
    filter: blur(4px);
}

.popupContent {
    position: relative;
    height: 10%;
}

.closePopup {
    position: absolute;
    top: 1px;
    right: 0px;
    cursor: pointer;
    font-size: 20px;
}

.postForm {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.postForm label,
.postForm input,
.postForm textarea,
.postForm button {
    margin-bottom: 20px;
}

.postForm input,
.postForm textarea {
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tagsPack {
    display: flex;
    align-content: center;
    margin-bottom: 10px;
}

.selectedTags {
    width: fit-content;
    margin-left: 30px;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    gap: 10px;
    box-sizing: border-box;
}

.selectedTag {
    background-color: #ccc;
    display: inline-block;
    padding: 5px 15px;
    margin-left: 10px;
    height: 18px;
    border-radius: 50px;
    background-color: #609EEB;
}

.tags {
    width: 120px;
}

.autocomplete {
    position: relative;
}

.autocomplete-items {
    width: 120px;
    text-align: left;
    position: absolute;
    background-color: #f1f1f1;
    border: 1px solid #d4d4d4;
    top: 210px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 99;
}

.autocomplete-item {
    padding: 5px 10px;
    cursor: pointer;
}

.autocomplete-item:hover {
    background-color: #e9e9e9;
}

.postForm textarea {
    resize: none;
    font-family: 'Karla', sans-serif;
    height: 220px;
}

.postForm button {
    padding: 8px 16px;
    background-color: #609EEB;
    border: none;
    cursor: pointer;
    border-radius: 50px;
}


.postHeader {
    display: flex;
    width: 1300px;
    margin: 0 auto;
    justify-content: space-between;
}

.postSearch {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    align-items: baseline;
}

.titleSearch {
    display: flex;
    align-items: baseline;
}

.postName {
    height: 30px;
    border-radius: 10px;
}

.postSearch input {
    width: 400px;
    margin-bottom: 7px;
}

.autocomplete-posts {
    position: absolute;
    overflow: hidden;
    text-align: start;
    width: 400px;
    background-color: #f1f1f1;
    border: 1px solid #d4d4d4;
    top: 105px;
    max-height: 1000px;
    z-index: 99;
    border-radius: 10px;
}

.autocomplete-post {
    padding: 10px;
    cursor: pointer;
}

.autocomplete-post:hover {
    background-color: #ddd;
}

.searchParameters {
    margin-top: 7px;
    display: flex;
}

.order {
    margin-right: 30px;
    color: #FAFCFF;
}

.postOrder {
    color: #FAFCFF;
    border: none;
    background-color: #15191d;
}

.postOrder:focus {
    outline: none;
}

.dateLimit select {
    color: #FAFCFF;
    border: none;
    background-color: #15191d;
}

.dateLimit select:focus {
    outline: none;
}

.arrow img {
    width: 75px;
}

.arrow:hover {
    filter: brightness(120%);
    cursor: pointer;
}

.seeSaved {
    position: relative;
    left: 220px;
    margin-top: 70px;
    align-items: baseline;
}

.savedButton {
    cursor: pointer;
    margin: 10px 0px 15px 0px;
    padding: 15px 5px;
    width: 150px;
    border-radius: 50px;
    background-color: #609EEB;
}

.seeMyPosts {
    position: relative;
    cursor: pointer;
    left: 110px;
    margin-top: 70px;
    align-items: baseline;
}

.myPostsButton {
    cursor: pointer;
    margin: 10px 0px 15px 0px;
    padding: 15px 5px;
    width: 150px;
    border-radius: 50px;
    background-color: #609EEB;
}

.createPost {
    cursor: pointer;
    margin-top: 70px;
    align-items: baseline;
}

.postButton {
    cursor: pointer;
    margin: 10px 0px 15px 0px;
    padding: 15px 5px;
    width: 150px;
    border-radius: 50px;
    background-color: #609EEB;
}

.seeMyPosts:hover,
.savedButton:hover,
.createPost:hover,
.postButton:hover {
    filter: brightness(120%);
}

.hamburgerButton {
    display: none;
}

.hamburgerOptions {
    display: none;
}

.posts {
    margin: 0 auto;
    width: 1300px;
    display: flex;
    flex-direction: column;
    align-content: baseline;
}

.post {
    position: relative;
    text-align: start;
    display: flex;
    flex-direction: column;
    background-color: #d3dde9;
    margin: 10px 0px;
    border-radius: 10px;
}

.post:hover {
    filter: brightness(120%);
}

.post a {
    color: black;
}

.postInfo {
    display: flex;
    margin: 15px 30px 0px 20px;
    justify-content: space-between;
}

.userInfo {
    display: flex;
    width: 100px;
}

.avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


.postUsername {
    position: relative;
    top: 17px;
    left: 15px;
}

.postTags {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: -13px;
    margin-left: 30px;
}

.postTag {
    background-color: #ccc;
    text-align: center;
    display: inline-block;
    background-color: #609EEB;
    padding: 5px 15px;
    margin-right: 10px;
    margin-bottom: 15px;
    height: 18px;
    border-radius: 50px;
}

.pubDate {
    position: relative;
    top: 17px;
}

.title {
    text-align: start;
    margin-left: 25px;
    margin-top: 15px;
}

.postBody {
    margin: 10px 25px 0px 25px;
    word-wrap: break-word;
    overflow: hidden;
}

.interactions {
    display: flex;
    margin: 25px 0px 25px 25px
}

.likes {
    display: flex;
    margin-right: 30px;
    width: 70px;
}

.heart img {
    width: 25px;
}

.number {
    position: relative;
    top: 5px;
    left: 10px;
}

.save img {
    width: 25px;
    margin-right: 70px;
}

.comments {
    display: flex;
    margin-right: 30px;
    width: 70px;
}

.comment img {
    width: 25px;
}

.delete img {
    width: 25px;
}

.loadMore {
    color: #FAFCFF;
    margin-top: 50px;
}

.loadMore div {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    width: 100%;
    margin-top: 0px;
}

.loadMore img {
    width: 25px;
    cursor: pointer;
}

.loadMore p{
    margin-top: 5px;
}

.returnSearch {
    color: #FAFCFF;
    margin-top: 30px;
    height: 20px;
    font-size: 16px;
}

.returnSearch span {
    border-bottom: #FAFCFF 1px solid;
    cursor: pointer;
}

@media (max-width: 1350px) {

    .popupContainer {
        width: 50%;
    }

    .postHeader {
        width: 90%;
    }

    .posts {
        width: 90%;
    }

    .seeSaved,
    .seeMyPosts,
    .createPost {
        margin-top: 55px;
    }

    .seeSaved{
        left:10%;
    }

    .seeMyPosts{
        left:5%;
    }

    .createPost a .postButton {
        width: 150px;
    }
}

@media (max-width: 1200px) {
    .seeSaved{
        left:5%;
    }

    .seeMyPosts{
        left:2.5%;
    }
}

@media (max-width: 1065px) {

    .popupContainer {
        width: 70%;
    }

    .seeSaved,
    .seeMyPosts,
    .createPost {
        display: none;
    }

    .createPost:has(a) {
        display: block;
    }

    .hamburgerButton {
        display: block;
        position: relative;
        margin-top: 60px;
        margin-left: auto;
    }

    .hamburgerButton img {
        width: 50px;
        cursor: pointer;
    }

    .hamburgerOptions {
        position: absolute;
        z-index: 999;
        display: block;
    }

    .hamburgerOptions input {
        position: relative;
        right: 100px;
    }
}

@media (max-width:930px) {

    .postInfo{
        justify-content: none;
    }

    .userInfo {
        flex-wrap: wrap;
        width: fit-content;
    }
    
    .postUsername {
        width: fit-content;
    }

    .postTags {
        flex-basis: 100%; /* Ocupa toda la línea debajo de avatar y username */
        justify-content: left;
        margin-left: 0;
        flex-wrap: wrap;
        margin-top: 20px;
        width: 100%;
    }
}

@media (max-width: 770px) {

    .analysesRecords {
        width: 90%;
    }

    .summonerSearch {
        width: 90%;
    }

    .summonerSearch input {
        width: 60%;
    }

    .postSearch {
        width: 80%;
    }

    .titleSearch {
        width: 100%;
    }
    
}

@media (max-width: 635px) {

    .likes,
    .comments,
    .delete {
        margin-right: 15%;
        width: 20%;
    }

    .createPost a{
        display: none;
    }

    .returnSearch {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        height: 50px;
    }

    .postInfo {
        display: block;
    }

    .pubDate {
        margin-bottom: 30px;
        margin-left: 5px;
    }

}

@media (max-width: 475px) {
    .summonerSearch input {
        width: 50%;
    }

    .hamburgerButton {
        margin-left: 5px;
    }

    .save {
        width: 20%;
    }

    .postSearch input {
        width: 100%;
    }

    .analysesRecords {
        width: 100%;
        padding: 20px 0px;
    }

    .summonerSearch input {
        width: 40%;
    }
}