.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 350px 130px 35px 130px;
}

h1{
    color: #E1F2F2;
    margin-bottom: 20px;
    min-width: 200px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
}

input{
    max-width: 190px;
    height: 44px;
    background-color:#E1F2F2;
    border-radius: .5rem;
    padding: 0 1rem;
    border: 2px solid transparent;
    font-size: 1rem;
    transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
    margin-bottom: 20px;
}

input:hover, input:focus, input-group:hover input {
    outline: none;
    border-color: #05060f;
}

.submitButton{
    background-color: #609EEB;
    color: #E1F2F2;
    padding: 10px 40px;
    border-radius: 12px;
}

p{
    color: #E1F2F2;
    min-width: 173px;
}
.container a{
    margin-top: 20px;
    border-bottom: 1px solid #E1F2F2;
}