body::-webkit-scrollbar {
    display: none;
}

.arrow {
    padding-top: 180px;
    margin: 0 auto;
    width: 1020px;
}

.container {
    padding: 20px 20px 0px 20px;
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 100px;
    background-color: #d3dde9;
    color: black;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.error {
    color:#FAFCFF;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: bold;
}

.errorDescription {
    color:#FAFCFF;
    text-align: center;
    font-weight: bold;
}

.arrow {
    position: relative;
    margin-bottom: 30px;
    margin-left: 30px;
    width: fit-content;
}

.arrow img {
    width: 75px;
}

.postInfo {
    display: flex;
    justify-content: space-between;
}

.userInfo {
    display: flex;
}

.avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.postUsername {
    position: relative;
    top: 17px;
    left: 15px;
}

.postTags {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 2px;
    margin-left: 30px;
}

.postTag {
    background-color: #ccc;
    text-align: center;
    background-color: #609EEB;
    padding: 5px 15px;
    margin-right: 10px;
    height: 18px;
    border-radius: 50px;
}

.pubDate {
    position: relative;
    top: 17px;
}

.title {
    text-align: start;
    margin-top: 15px;
}

.postBody {
    margin-top: 15px;
    word-wrap: break-word;
    overflow: hidden;
    text-align: justify;
}

.interactions {
    display: flex;
    margin: 25px 0px 25px 0px;
}

.likes {
    display: flex;
    margin-right: 30px;
    width: 70px;
}

.heart img {
    cursor: pointer;
    width: 25px;
}

.number {
    position: relative;
    top: 5px;
    left: 10px;
}

.save img {
    cursor: pointer;
    width: 25px;
    margin-right: 70px;
}

.comments {
    display: flex;
    margin-right: 30px;
    width: 70px;
}

.comments img {
    width: 25px;
}

.delete img {
    cursor: pointer;
    width: 25px;
}

.commentBox {
    flex-direction: column;
    box-sizing: content-box;
    height: 25px;
    border-radius: 10px;
}

.commentButton {
    align-self: self-end;
    cursor: pointer;
    margin-top: 10px;
    background-color: #609EEB;
    color: #E1F2F2;
    padding: 10px 40px;
    border-radius: 12px;
}

.commentButton:hover {
    filter: brightness(120%);
}

.loginButton {
    align-self: self-start;
    text-align: center;
    color: black;
    margin: 10px 0px 30px 0px;
    padding: 15px 15px;
    background-color: #609EEB;
    width: 200px;
    border-radius: 50px;
}

.order {
    margin-bottom: 30px;
}

.order select {
    border: none;
    background-color: #d3dde9;
}

.comment {
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px grey solid;
}

.comment .postBody {
    margin-bottom: 25px;
}

@media (max-width: 1060px){
    .container{
        width: 85%;
    }
}

@media (max-width: 575px){

    .postInfo{
        justify-content: none;
    }

    .userInfo {
        flex-wrap: wrap;
        width: fit-content;
    }
    
    .postUsername {
        width: fit-content;
    }

    .postTags {
        flex-basis: 100%; /* Ocupa toda la línea debajo de avatar y username */
        justify-content: left;
        margin-left: 0;
        margin-top: 20px;
        width: 20px;
    }
    
}

@media (max-width: 500px){
    .arrow {
        margin-left: 15px;
    }
}

@media (max-width: 450px){
    .arrow {
        margin-left: 10px;
    }
}

@media (max-width: 430px){

    .postInfo{
        display: block;
    }

    .pubDate{
        margin-bottom: 30px;
        margin-left: 2px;
    }
}

@media (max-width: 400px){
    .arrow {
        margin-left: 5px;
    }
}