body::-webkit-scrollbar {
    display: none;
}

.container {
    text-align: center;
    display: block;
    padding: 250px 130px 35px 100px;
    color: #E1F2F2;
}

.pageSelector {
    display: flex;
    justify-content: center;
}

.pageOption {
    margin: 0px 100px;
    padding: 5px 10px;
    color: #E1F2F2;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}

.pageOption.active {
    border-color: #E1F2F2;
    /* Color de la línea inferior activa */
    background-color: transparent;
}

.allInfo {
    display: flex;
    margin-top: 100px;
    justify-content: center;
}

.userAvatarAndName {
    margin-top: 60px;
    display: block;
    margin-right: 400px;
    position: absolute;
}

.avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.username {
    position: relative;
    text-align: center;
    top: 30px;
    left: 3px;
}

.carrousel {
    display: flex;
    flex-direction: column;
    /* Cambio añadido */
}

.profileSettings {
    position: relative;
    left: 50px;
    display: flex;
    justify-content: center;
}

.profileSettings:has(.inbox){
    display: block;
}

.profileSettings:first-child {
    position: relative;
    left: 200px;
}

.profileInfo {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.label {
    text-align: left;
    margin: 20px 0px;
}

input {
    height: 24px;
    background-color: #E1F2F2;
    border-radius: .5rem;
    border: 2px solid transparent;
    font-size: 1rem;
    transition: border-color .3s cubic-bezier(.25, .01, .25, 1) 0s, color .3s cubic-bezier(.25, .01, .25, 1) 0s, background .2s cubic-bezier(.25, .01, .25, 1) 0s;
}

.avatarOptions {
    display: flex;
    justify-content: space-between;
}

.avatarButton {
    background-color: #609EEB;
    color: #E1F2F2;
    padding: 10px 20px;
    border-radius: 12px;
}

.logOutButton {
    text-align: center;
    background-color: #c41700;
    padding: 20px 0px;
    margin-top: 50px;
    border-radius: 12px;
}

.accountSettings {
    position: relative;
    left: 150px;
    justify-content: center;
}

.accountDropDown {
    cursor: pointer;
    color: #E1F2F2;
    background-color: #fa7000;
    padding: 20px 40px;
    border-radius: 12px;
    margin-bottom: 50px;
}


.passwordInputs {
    margin-bottom: 40px;
}

.passwordInput {
    justify-content: end;
    margin: 20px 0px;
}

.changePassword{
    cursor: pointer;
    background-color: #c41700;
    color: #E1F2F2;
    border-radius: 12px;
    padding: 20px 20px;
    width: fit-content;
    margin: 40px auto;
}

.accountButton {
    cursor: pointer;
    background-color: #c41700;
    color: #E1F2F2;
    padding: 20px 40px;
    border-radius: 12px;
    margin-bottom: 50px;
}

.inbox {
    width: 500px;
    /* Ancho fijo del contenedor */
    height: 400px;
    margin-left: 300px;
    /* Altura fija del contenedor */
    overflow-y: auto;
    /* Permite desplazamiento vertical */
    border: 1px solid #ccc;
    /* Borde para visualización */
}

.inbox::-webkit-scrollbar {
    display: none;
    /* Oculta la barra de desplazamiento */
}


.message {
    padding: 10px;
    border-bottom: 1px solid #eee;
    /* Borde entre mensajes */
}

.author {
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.senderInfo {
    display: flex;
}

.profileImg img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.senderUser {
    align-content: center;
    margin-left: 10px;
    margin-bottom: 2px;
}

.date {
    align-content: center;
    margin-bottom: 2px;
}

.content {
    text-align: left;
    margin-top: 15px;
    margin-left: 5px;
}

.isRead {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.isRead input {
    text-align: left;
    width: auto;
}

.readAll{
    text-align: center;
    margin-top: 10px;
    margin-left: 300px;
    background-color: #609EEB;
    padding: 10px 20px;
    width: 120px;
    cursor: pointer;
    border-radius: 10px;
}

.avatarButton:hover, .logOutButton:hover, .accountDropDown:hover, .accountButton:hover, .readAll:hover, .changePassword:hover{
    filter: brightness(120%);
}

@media (max-width: 930px){
    .inbox{
        width: 450px;
        margin-left: 200px;
    }

    .readAll{
        margin-left: 200px;
    }

    .accountSettings, .profileInfo{
        margin-left: -75px;
    }
}

@media (max-width: 750px){
    .pageOption {
        margin: 0px 50px;
    }

    .userAvatarAndName{
        display: none;
    }

    .page{
        margin-left: -275px;
    }
}

@media (max-width: 570px){
    .pageOption {
        margin: 0px 20px;
    }

    .page{
        margin-left: -290px;
    }
}

@media (max-width: 500px){
    .inbox{
        width: 350px;
        margin-left: 215px;
    }

    .readAll{
        margin-left: 215px;
    }
}

@media (max-width: 450px){

    .pageSelector{
        margin-left: 20px;
    }

    .pageOption {
        margin: 0px 5px;
    }
}